form a {
  margin-left: 5px;
}

html {
	font-family: Roboto, sans-serif;
	height: 100%;
    width: 100%;
    background-image: url("/img/background.jpg");
    overflow: hidden;
}
body {
	background: transparent;
}

.login-container {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 503px;
    height: 400px;
    
}
.login-container .content{ 
	background: white;
	text-align: center;
	padding: 20px;
}

.button-container {
	padding: 30px 0;
}
.button-container button {
	margin-right: 5px;
}



.signup-container {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 503px;
    height: 730px;
}
.signup-container .content {
	background: white;
	text-align: center;
	padding: 20px;
}

.profile-creator-container {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 503px;
    height: 730px;
}

.profile-creator-container .content {
	background: white;
	padding: 20px;
}

.leaflet-container {
	background: white;
    position: absolute;
	left: 0;
    right: 0;
	top: 0;
	bottom: 0px;
}

