form a {
  margin-left: 5px;
}

html {
	font-family: Roboto, sans-serif;
	height: 100%;
    width: 100%;
    background-image: url("/img/background2.jpg");
}
body {
	background: transparent;
}

.player-component .players-container {
	background-color: #FFFFFF;
	overflow: auto;
	position: absolute;
	top: 131px;
	bottom: 0px;
	left: 8px;
	right: 8px;
}
.player-component .search-container {
	display: none;
}
.player-component.search .players-container {
	top: 187px;
}
.player-component.search .search-container {
	display: block;
}


.player-container {
	background: white;
}

.tab-content {
	min-height: 500px;
}
.player-info {
	/*height: 200px;*/
}

.player-tab {
	/*padding: 0 10px;*/
}

.player-container .player-tab .result-list {
	padding: 10px;
    overflow: hidden;
}

.result-card {
	margin-bottom: 10px;
}

.profil {
	text-align: center;
	padding: 40px 20px;
}

.profil h1{
	font-size: 30px;
    font-weight: 800;
    margin-top: 25px;
    text-shadow: 0 2px rgba(255, 255, 255, 0.8);
}